{% extends "basetemplate.html" %}

{% block panel_title %}Outer Space Technology{% endblock %}

{% block panel_header %}
    <div class="name">
        Technology lists
    </div>
{% endblock %}

{% block panel_content %}
    {% for key in pages.keys()|sort %}
        <div class="block">
            <div class="block-title">
                {{ key }}
            </div>
            <div class="block-content">
                <ul class="linklist">
                    {% for name, filename in pages[key] %}
                        <li>
                            <a href="{{filename}}">{{ name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="block">
        <div class="block-title">
            Technology trees (click to view in details)
        </div>
        <div class="block-content">
            <div class="imglist">
                Full techtree
                <a href="techtree.png"><img src="techtree.png"></a>
            </div>
        </div>
        <div class="block-content">
            <div class="imglist">
                Human techtree
                <a href="techtree_human.png"><img src="techtree_human.png"></a>
            </div>
        </div>
        <div class="block-content">
            <div class="imglist">
                Bionic techtree
                <a href="techtree_bionic.png"><img src="techtree_bionic.png"></a>
            </div>
        </div>
        <div class="block-content">
            <div class="imglist">
                Cyborg techtree
                <a href="techtree_cyborg.png"><img src="techtree_cyborg.png"></a>
            </div>
        </div>
        <div class="block-content">
            <div class="imglist">
                Mutant techtree
                <a href="techtree_mutant.png"><img src="techtree_mutant.png"></a>
            </div>
        </div>
        <div class="block-content">
            <div class="imglist">
                Renegade techtree
                <a href="techtree_renegade.png"><img src="techtree_renegade.png"></a>
            </div>
        </div>
    </div>
{% endblock %}
